body {
  margin: 0;
  padding: 0;
  border: 0; }

.navbar {
	background-color: navy;
}

.navbar-default {
	border-radius: 0;
	border: 0;
}

.navbar-default .navbar-brand,
.navbar-default .navbar-nav > li > a:link,
.navbar-default .navbar-nav > li > a:visited, {
	color: #fff;
	font-weight: bold;
}

.navbar-default .navbar-brand:hover {
	color: #fff;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:active {
	color: yellow;
}

nav .container-fluid {
	width: 80%;
	margin: 0 auto;
	padding: 0;
}

#content {
  width: 80%;
  margin: 0 auto;
  border: 1px solid red;
  height: 500px; }