{{#each products}}
<div class="product">
	<h1>{{name}}</h1>
	<p class="price">Price: {{price}} </p>
	<p class="category">{{season_discount}} Product</p>
{{/each}}
{{#each categories}}
	<p class="department">Department: {{name}}</p>
{{/each}}   
</div>
